@{
    ViewData["Title"] = "Jason Page";
}

<header class="text-center jumbotron">
    <h1 class="display-4">Jason's Distance Converter</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <h2>Input Data</h2>
    <form method="Index">
        <label>Miles</label>
        <input type="number" placeholder="Miles" required />
        <button class="btn btn-success">Calculate</button>
    </form>
</section>
